﻿@model int
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="btn-group" rold="group">
    <form method="get" action="Edit">
        <button type="submit" class="btn btn-primary" asp-action="Edit" asp-route-id="@Model"><i class="fas fa-edit"></i></button>
    </form>
    <form method="post" action="Delete">
        <button onclick="if (!confirm('Are you sure you want to delete this Make?')) { return false }" type="submit" class="btn btn-danger rounded-0" asp-action="Delete" asp-route-id="@Model"><i class="fas fa-trash-alt"></i></button>
    </form>
</div>


