﻿@model WebApp.Models.ViewModels.TechViewModel
@using WebApp.Extensions
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        var MakeDDL = $("#Make");
        var ModelDDL = $("#Model");
       // ModelDDL.prop('disabled', true);
        ModelDDL.attr("disabled", true);

        MakeDDL.change(function () {
            if ($(this).val() == "0") {
                ModelDDL.prop('disabled', true);
                ModelDDL.val("0");
            }
            else {
                $.ajax({
                    url: "/api/models/" + $(this).val(),
                    method: "get",
                    success: function (data) {
                        ModelDDL.prop('disabled', false);
                        ModelDDL.empty();
                        ModelDDL.append($('<option/>', { value: '0', text: '--Select Model--' }));
                        $(data).each(function (index, item) {
                            ModelDDL.append($('<option/>', { value: item.id, text: item.name }));
                        });
                    }
                });
            }
        });
    });
</script>



<br />
<br />
<br />
<h2 class="text-info" >Add </h2>
<form method="post" enctype="multipart/form-data" action="Create">
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="Makes"></label>
        </div>
        <div class="col-4">
            <select asp-for="Tech.MakeFK" asp-items="Model.Makes.ToSelectListItem()" class="form-control" id="Make"></select>
            <span asp-validation-for="Tech.MakeFK" class="text-danger"></span>
        </div>
        <div class="col-auto">
            <label asp-for="Tech.ImagePath"></label>
        </div>
        <div class="col-4">
            <input type="file" name="files" class="form-control" />
            <span asp-validation-for="Tech.ImagePath" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="Models"></label>
        </div>
        <div class="col-4">
            <select asp-for="Tech.ModelFK" asp-items="Model.Models.ToSelectListItem()" class="form-control" id="Model"></select>
            <span asp-validation-for="Tech.ModelFK" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="Tech.Year"></label>
        </div>
        <div class="col-4">
            <input asp-for="Tech.Year" class="form-control" />
            <span asp-validation-for="Tech.Year" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="Tech.Mileage"></label>
        </div>
        <div class="col-4">
            <input asp-for="Tech.Mileage" class="form-control" />
            <span asp-validation-for="Tech.Mileage" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="Tech.Price"></label>
        </div>
        <div class="col-4">
            <input asp-for="Tech.Price" class="form-control" />
            <span asp-validation-for="Tech.Price" class="text-danger"></span>
        </div>
        <div class="col-1">
            <label asp-for="Tech.Currency"></label>
        </div>
        <div class="col-4">
            <select asp-for="Tech.Currency" asp-items="Model.Currencies.ToSelectListItem()" class="form-control"></select>
            <span asp-validation-for="Tech.Currency" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="Tech.Features"></label>
        </div>
        <div class="col-4">
            <textarea asp-for="Tech.Features" class="form-control"></textarea>
            <span asp-validation-for="Tech.Features" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="Tech.SellerName"></label>
        </div>
        <div class="col-4">
            <input asp-for="Tech.SellerName" class="form-control" />
            <span asp-validation-for="Tech.SellerName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="Tech.SellerEmail"></label>
        </div>
        <div class="col-4">
            <input asp-for="Tech.SellerEmail" class="form-control" />
            <span asp-validation-for="Tech.SellerEmail" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="Tech.SellerPhone"></label>
        </div>
        <div class="col-4">
            <input asp-for="Tech.SellerPhone" class="form-control" />
            <span asp-validation-for="Tech.SellerPhone" class="text-danger"></span>
        </div>
    </div>
    <br />
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Create" />
        <a asp-action="Index" class="btn btn-success">Back</a>
    </div>
</form>

