﻿@model cloudscribe.Pagination.Models.PagedResult<Tech>
@using WebApp.Helpers
@{
    ViewData["Title"] = "Index";
    ViewData["Controller"] = "Tech";
    ViewData["Action"] = "Index";

    Layout = "~/Views/Shared/_Layout.cshtml";

}
<br />
<br />
<br />

<form asp-action="Index" method="get">
    <div>
        <p>
            Find Make : <input type="text" name="searchString" placeholder="Enter Make" value="@ViewBag.CurrentFilter" /> 
            <input type="submit" value="Search" class="btn btn-info" /> |
            <a asp-action="Index" class="text-dark">Remove Filter</a>
        </p>
    </div>
</form>

<div class="row">
    <div class="col-6">
        <h2 class="text-info">Technology</h2>
    </div>
    @if (User.IsInRole(Roles.Admin) || User.IsInRole(Roles.Executive))
    {
        <div class="col-6 text-right">
            <a class="btn btn-info" asp-action="Create"><i class="fas fa-plus-circle"></i> &nbsp; Add New Tech</a>
        </div>
    }
    <br />
    <div class="col-12">
        <table class="table table-striped border">
            <tr class="table-info">
                <th>Means Tech Photo</th>
                <th>Means Tech Details</th>
                <th>
                    <a asp-action="Index"
                       asp-route-sortOrder="@ViewBag.PriceSortParam"
                       asp-route-pageNumber="@Model.PageNumber">
                        Price
                    </a>
                </th>
                <th>Seller Information</th>
                @if (User.IsInRole(Roles.Admin) || User.IsInRole(Roles.Executive))
                {
                    <th></th>
                }
                else
                {
                    <th class="text-right">View Details</th>
                }
            </tr>
            @foreach (var item in Model.Data)
            {
        <tr>
            <td>
                <img src="@Html.DisplayFor(m => item.ImagePath)" width="150px" height="100px" />
            </td>
            <td>
                <b>@Html.DisplayFor(m => item.Make.Name) (@Html.DisplayFor(m => item.Year))</b><br />
                <b>Model : </b>@Html.DisplayFor(m => item.Model.Name)<br />
                <b>Mileage : </b>@Html.DisplayFor(m => item.Mileage)<br />
            </td>
            <td>@Html.DisplayFor(m => item.Price) @Html.DisplayFor(m => item.Currency)</td>
            <td>
                <b>Name : </b>@Html.DisplayFor(m => item.SellerName)<br />
                <b>Email : </b>@Html.DisplayFor(m => item.SellerEmail)<br />
                <b>Phone : </b>@Html.DisplayFor(m => item.SellerPhone)<br />
            </td>
            @if (User.IsInRole(Roles.Admin) || User.IsInRole(Roles.Executive))
            {
                <td class="text-right">
                    <partial name="_MakeButtonPartial" model="@item.Id" />
                </td>
            }
            else

            {
                <td class="text-right">
                    <div class="btn-group" rold="group">
                        <form method="get" action="Edit">
                            <button type="submit" class="btn btn-primary" asp-action="View" asp-route-id="@item.Id"><i class="fas fa-search-plus"></i></button>
                        </form>
                    </div>
                </td>
             }
            </tr>
            }
        </table>
        <partial name="_PaginationPartial" view-data="ViewData" model="Model" />


        @*numerimi ne faqe*@
        @*<cs-pager cs-paging-pagenumber=(int)Model.PageNumber
            cs-paging-totalitems=(int)Model.TotalItems
            cs-paging-pagesize=Model.PageSize
            cs-pagenumber-param="pagenumber"
            asp-controller=@ViewData["Controller"]
            asp-action=@ViewData["Action"]
            cs-pager-li-current-class="page-item active"
            cs-pager-li-other-class="page-item"
            cs-pager-li-non-active-class="page-item disabled"
            cs-pager-link-current-class="page-link"
            cs-pager-link-other-class="page-link"></cs-pager>*@
    </div>
</div>


@section scripts{
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script type="text/javascript">
        $(function () {
            var save = '@TempData["save"]'
            if (save != '') {
                alertify.success(save);
            }
        })
         $(function () {
            var update = '@TempData["update"]'
             if (update != '') {
                 alertify.success(update);
            }
         })
        $(function () {
            var delet = '@TempData["delet"]'
            if (delet != '') {
                alertify.success(delet);
            }
        })
    </script>
}