﻿@model WebApp.Models.ViewModels.TechViewModel
@using WebApp.Extensions
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<br />
<br />
<br />
<h2 class="text-info">View </h2>
<form method="post" enctype="multipart/form-data" action="View">
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="Makes"></label>
        </div>
        <div class="col-4">
            <select disabled="disabled" asp-for="Tech.MakeFK" asp-items="Model.Makes.ToSelectListItem()" class="form-control" id="Make"></select>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="Models"></label>
        </div>
        <div class="col-4">
            <select disabled="disabled" asp-for="Tech.ModelFK" asp-items="Model.Models.ToSelectListItem()" class="form-control" id="Model"></select>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="Tech.Year"></label>
        </div>
        <div class="col-4">
            <input disabled="disabled" asp-for="Tech.Year" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="Tech.Mileage"></label>
        </div>
        <div class="col-4">
            <input disabled="disabled" asp-for="Tech.Mileage" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="Tech.Price"></label>
        </div>
        <div class="col-4">
            <input disabled="disabled" asp-for="Tech.Price" class="form-control" />
        </div>
        <div class="col-1">
            <label asp-for="Tech.Currency"></label>
        </div>
        <div class="col-4">
            <select disabled="disabled" asp-for="Tech.Currency" asp-items="Model.Currencies.ToSelectListItem()" class="form-control"></select>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="Tech.Features"></label>
        </div>
        <div class="col-4">
            <textarea disabled="disabled" asp-for="Tech.Features" class="form-control"></textarea>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="Tech.SellerName"></label>
        </div>
        <div class="col-4">
            <input disabled="disabled" asp-for="Tech.SellerName" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="Tech.SellerEmail"></label>
        </div>
        <div class="col-4">
            <input disabled="disabled" asp-for="Tech.SellerEmail" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="Tech.SellerPhone"></label>
        </div>
        <div class="col-4">
            <input disabled="disabled" asp-for="Tech.SellerPhone" class="form-control" />
        </div>
    </div>
    <br />
    <div class="form-group">
        <a asp-action="Index" class="btn btn-success">Back</a>
    </div>
</form>

