﻿@model WebApp.Models.ViewModels.ModelViewModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<br />
<h2 class="text-info">Add Make of Vehicle</h2>
<form method="post" action="Create">
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="Makes"></label>
        </div>
        <div class="col-2">
            <select asp-for="Model.MakeFK" asp-items="Model.CSelectListItem(Model.Makes)" class="form-control"></select>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="Model.Name"></label>
        </div>
        <div class="col-4">
            <input asp-for="Model.Name" class="form-control" />
        </div>
    </div>
    <br />
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Create" />
        <a asp-action="Index" class="btn btn-success">Back</a>
    </div>
</form>

