﻿@model IEnumerable<WebApp.Models.Model>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<br />
<br />
<br />
<div class="row">
    <div class="col-6">
        <h2 class="text-info">Models of Vehicle</h2>
    </div>
    <div class="col-6 text-right">
        <a class="btn btn-info" asp-action="Create"><i class="fas fa-plus-circle"></i> &nbsp; Add New Model</a>
    </div>
    <br />
    <div class="col-12">
        <table class="table table-striped border">
            <tr class="table-info">
                <th>
                    @Html.DisplayNameFor(m => m.Make)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.Name)
                </th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(m => item.Make.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.Name)
                    </td>
                    <td class="text-right">
                        <partial name="_ButtonPartial" model="@item.Id" />
                    </td>
                </tr>
            }
        </table>
    </div>
</div>


@section scripts{
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script type="text/javascript">
        $(function () {
            var save = '@TempData["save"]'
            if (save != '') {
                alertify.success(save);
            }
        })
         $(function () {
            var update = '@TempData["update"]'
             if (update != '') {
                 alertify.success(update);
            }
         })
        $(function () {
            var delet = '@TempData["delet"]'
            if (delet != '') {
                alertify.success(delet);
            }
        })
    </script>
}