﻿@model WebApp.Models.Make
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<br />
<h2 class="text-info">Edit Make of Vehicle</h2>
<form method="post" action="Edit">
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="Name"></label>
        </div>
        <div class="col-4">
            <input asp-for="Name" class="form-control" />
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" asp-route-id="@Model.Id" value="Update" />
            <a asp-action="Index" class="btn btn-success">Back</a>
        </div>
    </div>
</form>



